<!DOCTYPE html>
<html>
  <head>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <style>
      .btn-file {
          position: relative;
          overflow: hidden;
      }
      .btn-file input[type=file] {
          position: absolute;
          top: 0;
          right: 0;
          min-width: 100%;
          min-height: 100%;
          font-size: 100px;
          text-align: right;
          filter: alpha(opacity=0);
          opacity: 0;
          outline: none;
          background: white;
          cursor: inherit;
          display: block;
      }
      th {
          text-align: center;
      }
  </style>

  </head>
    <script type='text/javascript'>
</script>
 

<body>

  <!-- component template -->
  <script type="text/x-template" id="grid-template">
    <table class="table table-striped">
      <thead>
	<tr>
	  <th v-for="key in columns"
	      @click="sortBy(key)"
	      :class="{active: sortKey == key} text-center">
	    {{key | capitalize}}
	    <span class="arrow"
		  :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
	    </span>
	  </th>
	</tr>
      </thead>
      <tbody>
	      <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
		<td v-for="key in columns">
		  {{entry[key]}}
		</td>
	      </tr>
      </tbody>
    </table>
  </script>



  <div id="app" >


    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2">
            <h3 class="text-center"> Pumpen Steuerung</h3>
            <div class="row">
                <div class=" col-md-8 col-md-offset-2 col-xs-12 btn-group.btn-group-justified btn-group-vertical">
	                <button v-on:click="pump" class="btn btn-primary col-xs-6" type="button"><i class="glyphicon glyphicon-signal"></i> Seq. Starten</button>
	                <button v-on:click="pumpAllStart" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-play"></i>  Alle Starten</button>
	                <button v-on:click="pumpAllStop" class="btn btn-primary" type="button"><i class="glyphicon glyphicon glyphicon-stop"></i> Alle Stoppen</button>
                </div>
            </div>
            <h3 class="text-center"> Form Steuerung</h3>
            <div class="row">
                <div class=" col-md-8 col-md-offset-2 col-xs-12 btn-group.btn-group-justified btn-group-vertical">
	          <button v-on:click="move" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-chevron-up"></i> Heben</button>
	          <button v-on:click="home" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-chevron-down"></i> Senken</button>
                </div>
            </div>


            <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                    <h3> CSV Datei hochladen </h3>
                    <span class="btn btn-primary btn-file col-xs-12">
		      <i class="glyphicon glyphicon-folder-open"></i> &nbsp Browse<input v-on:change="upload" type="file" name="csv" id="csv" >
                    </span>
                </div>
            </div>


            <ul>
                <li v-for="pump in pumps" style="list-style: none;">
                    <!-- Pump {{ $index+1 }} with duration {{pump.Duration}} -->
                </li>
            </ul>
	    
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <h3> Aktuelle Werte</h3>
		<demo-grid
		   :data="gridData"
		   :columns="gridColumns"
		   :filter-key="searchQuery">
		</demo-grid>
	      </div>
	    </div>
        </div>
    </div>
</div>

</body>
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>  
  <script type="text/javascript" src="node_modules/vue-resource/dist/vue-resource.js"></script>
  <script type="text/javascript" src="node_modules/d3/d3.js"></script>
  <script type="text/javascript" src="node_modules/datatables.net/js/jquery.dataTables.js"></script>


    
  <script type="text/javascript">

 	Vue.component('demo-grid', {
	    template: '#grid-template',
	    props: {
		data: Array,
		columns: Array,
		filterKey: String
	    },
	    data: function () {
		var sortOrders = {}
		this.columns.forEach(function (key) {
		    sortOrders[key] = 1
		})
		return {
		    sortKey: '',
		    sortOrders: sortOrders
		}
	    },
	    methods: {
		sortBy: function (key) {
		    this.sortKey = key
		    this.sortOrders[key] = this.sortOrders[key] * -1
		}
	    }
	}) 


    
    var app = new Vue({
        el: '#app',
        computed: {
            width: 10,
            height: 30,
            canvas: function()
            {
                return this.$el.querySelector('canvas');
            }
        },
        data: {
	    search: '',
	    gridColumns: ['Id', 'Duration'],
            gridData: []
        },
        ready : function() {
            this.initPumps();
            this.listenToSSE();
        },
        methods : {
            pump: function(event)
            {
                this.$http.get("/pump");
            },
            pumpAllStart: function(event)
            {
                this.$http.get("/pumpAllStart");
            },
            pumpAllStop: function(event)
            {
                this.$http.get("/pumpAllStop");
            },
	        move: function(event)
            {
                this.$http.get("/move");
            },
	        home: function(event)
            {
                this.$http.get("/home");
            },
            upload: function(event)
            {
                event.preventDefault();
		
                var files = csv.files;
		
                var data = new FormData();
                // for single file
                data.append('uploadfile', files[0]);

                this.$http.post('/upload', data, function (data, status, request) {
                }).error(function (data, status, request) {
		    
                });
		
                $('#csv').val('');
            },

            initPumps: function()
            {
                for(i=0 ; i <32; i++) {
                    this.gridData.$set(i,{"Id": i, "Note": i, "Channel": 0, "Duration": 0, "State": false});
                }
            },

            listenToSSE: function()
            {
                var evtSource = new EventSource("/event");
                evtSource.onmessage = function(e) {
                    var data = JSON.parse(e.data);
                    app.gridData.$set(data.Id-1, data);
                    }
            }
        },
    });
</script>
    


</html>
